/* styles.scss
   This stylesheet uses the BEM (Block Element Modifier) naming convention,
   which is what's being used by Google for Material Components Web.

   See links for reference:
     * http://getbem.com/naming/
     * https://css-tricks.com/bem-101/
*/
/* PATTERN LIBRARY STYLES
   These styles are specific to this microsite ONLY. They are NOT
   relevant to code used in our Premera website, and should not
   be passed on to our engineering team.
=============================================================== */
/* Ensure layout covers the entire screen. */
html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%; }

/* Position the hero at the top of the page BEHIND the page content. */
.page__hero {
  background-color: #EFEFEF;
  position: absolute;
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1; }

.page__header {
  max-width: 1366px;
  margin: 40px;
  z-index: 10; }

.page__container {
  background-color: white;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
  max-width: 1366px;
  z-index: 10; }

/* Navigation */
.page__navigation-container {
  border-right: 1px solid #DDD; }
  .page__navigation-container .page__navigation {
    /* Allow the nav itemns to wrap */ }
    .page__navigation-container .page__navigation .page__navigation__category {
      padding: 10px 0; }
      .page__navigation-container .page__navigation .page__navigation__category .page__navigation__category-header {
        font-weight: 800; }
    .page__navigation-container .page__navigation .mdc-list-item {
      white-space: normal; }

/* Main Content */
.page__content {
  padding: 40px; }
  .page__content .page__pattern-category {
    font-size: 3.5rem;
    margin-bottom: 80px; }
  .page__content .pattern {
    border-bottom: 1px solid #DDD;
    margin-bottom: 120px;
    padding-bottom: 60px; }
    .page__content .pattern .pattern__usage {
      margin-bottom: 30px; }

/* Position the Back To Top button */
#btn--back-to-top {
  bottom: 40px;
  position: fixed;
  right: 40px;
  z-index: 10; }

/* Cards */
/* Add a photo to the media section of all example cards */
.example-card .mdc-card__media {
  background-image: url("https://www.premera.com/images/Style_Guide/Jumbotron_Woman_650x275.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px; }

/* Grid Layout */
/* Color the grid so people can see how it works */
.mdc-layout-grid {
  background-color: #EEEEEE; }
  .mdc-layout-grid .mdc-layout-grid__inner {
    background-color: pink; }
    .mdc-layout-grid .mdc-layout-grid__inner .mdc-layout-grid__cell {
      background-color: #AAAAAA; }

/* HELPER CLASSES
   These classes have been borrowed from Bootstrap 4.0. In our
   upcoming website redesign, we might not be using Bootstrap
   beyond the Grid System, so we will need SOME replacement
   for these classes, probably.
=============================================================== */
.lead {
  font-size: 130%;
  margin-bottom: 40px; }

.d-none {
  display: none; }

.float-right {
  float: right; }

/* MATERIAL COMPONENTS WEB : OVERRIDES AND EXPANSIONS
   Ideally this is clean, modular, smart code we can pass on to
   our development team for use in the redesign.
=============================================================== */
/* COLOR THEMING */
:root {
  --mdc-theme-primary: #FF7C76;
  --mdc-theme-secondary: #FF7C76;
  --mdc-theme-background: #f6f6f6; }

/* BUTTONS */
.mdc-button {
  /* Out of the box, the icons inside of buttons are not properly positioned.
     Perhaps they will fix this in a future update. For now... */ }
  .mdc-button .material-icons {
    position: relative;
    top: 6px;
    margin-right: 10px; }

/* LISTS */
.mdc-list {
  /* Create NEW LIST STYLE that has full-width borders between list items and appropriate padding */
  /* New modifier class */ }
  .mdc-list.mdc-list--separated {
    padding: 0; }
    .mdc-list.mdc-list--separated li {
      border-bottom: 1px solid #CCC;
      padding-left: 20px;
      padding-right: 20px; }
      .mdc-list.mdc-list--separated li:last-child {
        border: none; }

/* CARDS */
.mdc-card {
  /* If card has a right-aligned expand button, .mdc-card__actions needs to allow right-aligning */
  /* TO DO : This actually will not work if there are 2 buttons in addition to the expanding button */
  /* Existing mdc class */
  /* When a card's supporting text is actually a list, modify the container to allow list to be full width. */
  /* Existing mdc class */ }
  .mdc-card .mdc-card__actions {
    /* New modifier class */ }
    .mdc-card .mdc-card__actions.mdc-card__actions--justified {
      justify-content: space-between; }
  .mdc-card .mdc-card__supporting-text {
    /* New modifier class */ }
    .mdc-card .mdc-card__supporting-text.mdc-card--list {
      padding: 0; }
      .mdc-card .mdc-card__supporting-text.mdc-card--list ul {
        margin: 0; }

/*# sourceMappingURL=styles.css.map */
