:root {
  --mdc-theme-primary: #FF7C76;
  --mdc-theme-primary-light: red;
  --mdc-theme-primary-dark: orange;
  --mdc-theme-secondary: #FF7C76;
  --mdc-theme-secondary-light: yellow;
  --mdc-theme-secondary-dark:green;
  --mdc-theme-background: #f6f6f6;
  --mdc-theme-text-primary-on-primary: white;
  --mdc-theme-text-secondary-on-primary: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-primary: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-primary: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-primary: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-primary-on-primary-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-primary-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-primary-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-primary-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-primary-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-primary-dark: white;
  --mdc-theme-text-secondary-on-primary-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-primary-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-primary-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-primary-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-primary-on-secondary: white;
  --mdc-theme-text-secondary-on-secondary: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-secondary: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-secondary: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-secondary: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-primary-on-secondary-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-secondary-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-secondary-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-secondary-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-secondary-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-secondary-dark: white;
  --mdc-theme-text-secondary-on-secondary-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-secondary-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-secondary-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-secondary-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-primary-on-background: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-background: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-background: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-light: rgba(0, 0, 0, 0.87);
  --mdc-theme-text-secondary-on-light: rgba(0, 0, 0, 0.54);
  --mdc-theme-text-hint-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-disabled-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-icon-on-light: rgba(0, 0, 0, 0.38);
  --mdc-theme-text-primary-on-dark: white;
  --mdc-theme-text-secondary-on-dark: rgba(255, 255, 255, 0.7);
  --mdc-theme-text-hint-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-disabled-on-dark: rgba(255, 255, 255, 0.5);
  --mdc-theme-text-icon-on-dark: rgba(255, 255, 255, 0.5); }

/* For the Pattern Library site only
=============================================================== */
/* Ensure layout covers the entire screen. */
html {
  height: 100%; }

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%; }

h2 {
  margin-bottom: 10px; }

/* Make page layout float properly */
.page-background-hero {
  background-color: #EFEFEF;
  position: absolute;
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1; }

.page-container {
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
  max-width: 1366px;
  z-index: 10; }

header {
  max-width: 1366px;
  margin: 40px;
  z-index: 10; }

.main-content-area {
  background-color: white; }

.main-sidebar {
  border-right: 1px solid #DDD; }

.main-content {
  padding: 40px; }

.usage-section {
  margin-bottom: 30px; }

.nav-header {
  font-weight: 800; }

#back-to-top-btn {
  bottom: 40px;
  position: fixed;
  right: 40px;
  z-index: 10; }

/* Make the top header not pink */
.mdc-toolbar__row {
  background-color: #0099d8; }

.example-card > .mdc-card__media {
  height: 9em; }

#card-example-2 .mdc-card__media {
  background-image: url("https://www.premera.com/images/Style_Guide/Jumbotron_Woman_650x275.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  /* Note: Height works in conjunction with height of card */ }

/* Give the navigation links a hover style */
.mdc-permanent-drawer .mdc-list-item {
  padding-left: 30px; }
  .mdc-permanent-drawer .mdc-list-item:hover {
    background-color: #EFEFEF; }

/* Helper classes */
.lead {
  font-size: 130%;
  margin-bottom: 40px; }

.code-container {
  background-color: #EFEFEF;
  box-sizing: border-box;
  font-family: monospace;
  font-size: 16px;
  min-height: 150px;
  width: 100%; }

.section-header {
  font-size: 3.5rem;
  margin-bottom: 80px; }

.pattern-section {
  border-bottom: 1px solid #DDD;
  margin-bottom: 120px;
  padding-bottom: 60px; }

.sidebar-nav-container li.nav-section {
  padding: 10px 0; }

/* Material Overrides For Premera Branding
=============================================================== */
/* Properly position icon inside of button */
.mdc-button .material-icons {
  position: relative;
  top: 6px;
  margin-right: 10px; }

.mdc-layout-grid {
  background-color: #EEEEEE; }
  .mdc-layout-grid .mdc-layout-grid__inner {
    background-color: pink; }
    .mdc-layout-grid .mdc-layout-grid__inner .mdc-layout-grid__cell {
      background-color: #AAAAAA; }

.page-container .main-sidebar .mdc-list-item {
  white-space: normal; }

/*# sourceMappingURL=styles.css.map */
