/* styles.scss
   This stylesheet contains styles that are ONLY relevant to the Pattern Library microsite.

   This stylesheet uses the BEM (Block Element Modifier) naming convention,
   which is what's being used by Google for Material Components Web.

   See links for reference:
     * http://getbem.com/naming/
     * https://css-tricks.com/bem-101/
*/




/* PATTERN LIBRARY STYLES
   These styles are specific to this microsite ONLY. They are NOT
   relevant to code used in our Premera website, and should not
   be passed on to our engineering team.
=============================================================== */

/* Ensure layout covers the entire screen. */
html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  min-height: 100%;
}

/* Position the hero at the top of the page BEHIND the page content. */
.page__hero {
  background-color: #EFEFEF;
  position: absolute;
  height: 400px;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.page__header {
  max-width: 1366px;
  margin: 40px;
  z-index: 10;
}

.page__container {
  background-color: white;
  display: flex;
  flex: 1 1 auto;
  height: 100%;
  box-sizing: border-box;
  max-width: 1366px;
  z-index: 10;
}

/* Navigation */
.page__navigation-container {
  border-right: 1px solid #DDD;

  .page__navigation {

    .page__navigation__category {
      padding: 10px 0;

      .page__navigation__category-header {
        font-weight: 800;
      }
    }

    /* Allow the nav itemns to wrap */
    .mdc-list-item {
      white-space: normal;
    }
  }
}

/* Main Content */
.page__content {
  padding: 40px;

  .page__pattern-category {
    font-size: 3.5rem;
    margin-bottom: 80px;
  }

  .pattern {
    border-bottom: 1px solid #DDD;
    margin-bottom: 120px;
    padding-bottom: 60px;

    .pattern__usage {
      margin-bottom: 30px;
    }
  }
}

/* Position the Back To Top button */
#btn--back-to-top {
  bottom: 40px;
  position: fixed;
  right: 40px;
  z-index: 10;
}


/* Cards */
/* Add a photo to the media section of all example cards */
.example-card .mdc-card__media {
  background-image: url("https://www.premera.com/images/Style_Guide/Jumbotron_Woman_650x275.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
}

.example-card .mdc-card__author__avatar {
  background-color: #CCC;
}


/* Grid Layout */
/* Color the grid so people can see how it works */
.mdc-layout-grid {
  background-color: #EEEEEE;

  .mdc-layout-grid__inner {
    background-color: pink;

    .mdc-layout-grid__cell {
      background-color: #AAAAAA;
    }
  }
}
